absl-py==1.1.0
adjustText==0.7.3
aiohttp==3.8.1
aiosignal==1.2.0
airr==1.3.1
anndata==0.8.0
annoy==1.17.0
appnope==0.1.3
apsw==3.38.5.post1
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asttokens==2.0.5
async-timeout==4.0.2
attrs==21.4.0
backcall==0.2.0
bbknn==1.5.1
bcrypt==3.2.2
beautifulsoup4==4.11.1
bleach==5.0.0
cachetools==5.2.0
certifi==2022.5.18.1
cffi==1.15.0
cgatcore==0.6.14
charset-normalizer==2.0.12
chex==0.1.3
click==8.1.3
commonmark==0.9.1
cryptography==37.0.2
cycler==0.11.0
Cython==0.29.30
debugpy==1.6.0
decorator==5.1.1
defusedxml==0.7.1
dm-tree==0.1.7
docrep==0.3.2
drmaa==0.7.9
entrypoints==0.4
et-xmlfile==1.1.0
executing==0.8.3
fastjsonschema==2.15.3
fbpca==1.0
flatbuffers==2.0
flax==0.5.0
fonttools==4.33.3
frozenlist==1.3.0
fsspec==2022.5.0
future==0.18.2
geosketch==1.2
gevent==21.12.0
google-auth==2.6.6
google-auth-oauthlib==0.4.6
greenlet==1.1.2
grpcio==1.46.3
h5py==3.7.0
harmonypy==0.0.5
idna==3.3
igraph==0.9.10
imageio==2.19.3
importlib-metadata==4.11.4
importlib-resources==5.7.1
iniconfig==1.1.1
intervaltree==3.1.0
ipykernel==6.13.0
ipython==8.4.0
ipython-genutils==0.2.0
ipywidgets==7.7.0
jax==0.3.13
jaxlib==0.3.10
jedi==0.18.1
Jinja2==3.1.2
joblib==1.1.0
jsonschema==4.6.0
jupyter-client==7.3.2
jupyter-core==4.10.0
jupyterlab-pygments==0.2.2
jupyterlab-widgets==1.1.0
kiwisolver==1.4.2
leidenalg==0.8.10
# llvmlite==0.38.1
loompy==3.0.7
louvain==0.7.1
Markdown==3.3.7
MarkupSafe==2.1.1
matplotlib==3.5.2
matplotlib-inline==0.1.3
mistune==0.8.4
msgpack==1.0.4
#mudata @ git+https://github.com/scverse/mudata@fbfc634e8f17bd70ed67bb8a37951564f16b61e6
mudata @ git+https://github.com/scverse/mudata
multidict==6.0.2
multipledispatch==0.6.0
#muon @ git+https://github.com/scverse/muon@925fd904d20dd7b9c73c49591df8c032a60a5e09
muon @ git+https://github.com/scverse/muon
natsort==8.1.0
nbclient==0.6.4
nbconvert==6.5.0
nbformat==5.4.0
nest-asyncio==1.5.5
networkx==2.8.3
notebook==6.4.11
numba==0.55.2
numpy==1.22.4
numpy-groupies==0.9.17
numpyro==0.9.2
oauthlib==3.2.0
openpyxl==3.0.10
opt-einsum==3.3.0
optax==0.1.2
packaging==21.3
pandas==1.4.2
pandocfilters==1.5.0
#panpipes @ file:///Users/crg/Documents/Projects/github_repos/panpipes
paramiko==2.11.0
parasail==1.2.4
parso==0.8.3
patsy==0.5.2
pep8==1.7.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.1.1
pluggy==1.0.0
prometheus-client==0.14.1
prompt-toolkit==3.0.29
protobuf==3.20.1
psutil==5.9.1
ptyprocess==0.7.0
pure-eval==0.2.2
py==1.11.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
pyDeprecate==0.3.1
Pygments==2.12.0
PyNaCl==1.5.0
pynndescent==0.5.7
pyparsing==3.0.9
pyro-api==0.1.2
pyro-ppl==1.8.1
pyrsistent==0.18.1
pytest==7.1.2
python-dateutil==2.8.2
python-igraph==0.9.10
python-Levenshtein==0.12.2
pytoml==0.1.21
pytorch-lightning==1.5.10
pytz==2022.1
PyWavelets==1.3.0
PyYAML==6.0
pyzmq==23.1.0
requests==2.27.1
requests-oauthlib==1.3.1
rich==12.4.4
rsa==4.8
ruffus==2.8.4
scanorama==1.7.2
scanpy==1.9.1
scikit-image==0.19.2
scikit-learn==1.1.1
scikit-misc==0.1.4
scipy==1.8.1
scirpy==0.10.1
scrublet==0.2.3
scvi-tools==0.16.3
seaborn==0.11.2
Send2Trash==1.8.0
session-info==1.0.0
setuptools-scm==6.4.2
six==1.16.0
sklearn==0.0
sortedcontainers==2.4.0
soupsieve==2.3.2.post1
SQLAlchemy==1.4.37
squarify==0.4.3
stack-data==0.2.0
statsmodels==0.13.2
stdlib-list==0.8.0
tensorboard==2.9.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
terminado==0.15.0
texttable==1.6.4
threadpoolctl==3.1.0
tifffile==2022.5.4
tinycss2==1.1.1
tomli==2.0.1
toolz==0.11.2
torch==1.11.0
torchmetrics==0.9.0
tornado==6.1
tqdm==4.64.0
traitlets==5.2.2.post1
typing_extensions==4.2.0
umap-learn==0.5.3
urllib3==1.26.9
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==2.1.2
widgetsnbextension==3.6.0
yamlordereddictloader==0.4.0
yarl==1.7.2
zipp==3.8.0
zope.event==4.5.0
zope.interface==5.4.0
