# cgat core dependencies
drmaa
gevent
pytest
pandas
ruffus
pep8
pyyaml
paramiko
apsw
cgatcore
sqlalchemy
packaging

# scanpy and associated
anndata
scanpy
bbknn
scanorama
harmonypy
scvi-tools
leidenalg
louvain
numpy
scrublet
scikit-misc
mofapy2
pysam
mudata @ git+https://github.com/scverse/mudata
muon @ git+https://github.com/scverse/muon
scirpy @ git+https://github.com/scverse/scirpy
